@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Monoton&family=Montserrat:wght@400;600&family=Poppins:wght@400;500;600&family=Source+Sans+Pro&family=Ubuntu&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 250px);
  width: 70%;
  gap: 20px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  padding: 50px 20px 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
}

#gmap_canvas {
  width: 70%;
  height: 250px;
  margin-left: 150px;
  border-radius: 10px;
}

#data {
  color: white;
  width: 80%;
  border-radius: 15px;
  margin-left: 50px;
}
#data > h3 {
  font-size: 20px;
  padding-left: 20px;
}

#data > h2 {
  font-size: 50px;
  padding-left: 20px;
  margin-top: -5px;
}

.wind {
  display: flex;
  margin-top: -30px;
  align-items: center;
  padding-left: 10px;
}

.wind > img {
  width: 20%;
  height: 20%;
}
#forecast {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(auto, 200px);
  width: 98%;
  gap: 10px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  color: white;
}
#forecast > div {
  padding: 10px;
  border-radius: 15px;
  transition: all 1s;
  margin-top: 50px;
}
#forecast > div:hover {
  transform: scale(1.05);
}
.windfore {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: -10px;
}
div > p,
div > h3 {
  padding-left: 10px;
}
.windfore > img {
  width: 20%;
  height: 20%;
}
#logo {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: rgb(78, 78, 152);
}
#logo > span {
  color: black;
}

#userinput {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
#userinput > div + div {
  display: flex;
}
#city {
  width: 150%;
  height: 40px;
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
  font-size: 17px;
  border-radius: 40px;
  border: 1px solid gray;
}
#search {
  padding: 8px 40px 8px 40px;
  margin-left: 20px;
  background-color: rgb(78, 78, 152);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

#liveLocation {
  margin: auto;
  width: 10%;
}

#liveLocation > button {
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  border: none;
  background-color: rgb(78, 78, 152);
  color: white;
}

@media all and (min-width: 850px) and (max-width: 1030px) {
  #cont {
    width: 90%;
    gap: 20px;
    justify-content: space-around;
  }
  #gmap_canvas {
    width: 70%;
    height: 250px;
    margin-left: 150px;
    border-radius: 10px;
  }
  #data {
    color: white;
    width: 100%;
    border-radius: 15px;
  }
  #forecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 200px);
    margin: auto;
    width: 80%;
  }
  #liveLocation {
    margin: auto;
    width: 50%;
  }
  #liveLocation > button {
    display: block;
    margin: auto;
  }
}

@media all and (min-width: 700px) and (max-width: 850px) {
  #cont {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 200px);
    width: 100%;
    height: 500px;
  }
  #gmap_canvas {
    width: 80%;
    display: block;
    height: 250px;
    margin-left: auto;
    border-radius: 10px;
  }

  .wind {
    display: flex;
    margin-top: -30px;
    align-items: center;
    padding-left: 10px;
  }

  .wind > img {
    width: 10%;
    height: 10%;
  }
  #data {
    color: white;
    width: 50%;
    margin: auto;
    border-radius: 15px;
  }

  #data > h3 {
    font-size: 16px;
    padding-left: 30px;
  }

  #data > h2 {
    font-size: 30px;
    padding-left: 30px;
    margin-top: -5px;
  }
  #forecast {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 200px);
    margin: auto;
    width: 80%;
  }

  #liveLocation {
    margin: auto;
    width: 50%;
  }
  #liveLocation > button {
    display: block;
    margin: auto;
  }
}

@media all and (min-width: 500px) and (max-width: 700px) {
  #cont {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 200px);
    width: 100%;
    height: 500px;
  }

  #data {
    width: 40%;

    margin-left: 50px;
    margin: auto;
  }
  #data > h3 {
    font-size: 18px;
    padding-left: 20px;
  }

  #data > h2 {
    font-size: 30px;
    padding-left: 20px;
    margin-top: -5px;
  }
  .wind {
    margin-top: -30px;

    padding-left: 10px;
  }
  .wind > img {
    width: 10%;
    height: 10%;
  }

  #gmap_canvas {
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 10px;
  }

  #forecast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 200px);
    margin: auto;
    width: 90%;
  }
  #userinput {
    display: block;
  }
  #logo {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
  }
  #userinput > div + div {
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }

  #liveLocation {
    margin: auto;
    width: 50%;
  }
  #liveLocation > button {
    display: block;
    margin: auto;
  }
}

@media all and (min-width: 100px) and (max-width: 500px) {
  #cont {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 200px);
    width: 100%;
    height: 400px;
  }

  #data {
    width: 30%;
    margin-left: 50px;
    margin: auto;
  }
  #data > h3 {
    font-size: 15px;
    padding-left: 20px;
  }

  #data > h2 {
    font-size: 24px;
    padding-left: 20px;
    margin-top: -5px;
  }
  .wind {
    margin-top: -30px;
    padding-left: 10px;
  }
  .wind > img {
    width: 15%;
    height: 15%;
  }

  #gmap_canvas {
    width: 50%;
    display: block;
    margin: auto;
    margin-left: 125px;
    padding-left: 10px;
    border-radius: 15px;
    height: 150px;
  }

  #forecast {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 200px);
    margin: auto;
    width: 90%;
  }
  #userinput {
    display: block;
    width: 100%;
  }
  #logo {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
  }
  #userinput > div + div {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-left: 20px;
  }
  #search {
    padding: 5px 20px 5px 20px;
    margin-left: 10px;
    background-color: rgb(78, 78, 152);
    color: white;
  }
  #city {
    width: 50%;
    height: 30px;
    font-family: "Poppins", sans-serif;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 40px;
    border: 1px solid gray;
  }
  #liveLocation {
    margin: auto;
    width: 50%;
  }
  #liveLocation > button {
    display: block;
    margin: auto;
  }
}
